*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
img{
    cursor: pointer;

}
.flex-div{
    display: flex;
    align-items: center;
}

body {
  overflow-x: hidden;
  background: #f9f9f9;
}

img,
video,
iframe {
  max-width: 100%;
}

button,
input {
  font-family: inherit;
}