.play-container{
    background: #f9f9f9;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
/* Tablet */
@media (max-width: 992px) {
  .play-container {
    padding-left: 3%;
    padding-right: 3%;
    gap: 20px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .play-container {
    flex-direction: column;
    padding-left: 4%;
    padding-right: 4%;
  }
}